.blog_post {
    background-color: #a09a9a10;
    padding: 30px;
    border-radius: 5px; 
}

/*
- - Header
*/
.blog_header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 30px;
}

.blog_image {
    width: 30%;
    max-width: 100%;
    height: auto;
}


/*
- - Title
*/
.blog_title {
    font-family: "Roboto","Trebuchet MS","Tahoma","Verdana","Arial","sans-serif";
    font-weight: 400;
    padding-bottom: 30px;
    text-align: center;
}


/*
- - Content
*/
.blog_content {
    font-family: "Roboto","Arial","sans-serif";
    font-size: 16px;
    line-height: 1.5;
}

.pretext {
    white-space: pre-wrap;       /* Since CSS 2.1 */
    white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
    white-space: -pre-wrap;      /* Opera 4-6 */
    white-space: -o-pre-wrap;    /* Opera 7 */
    word-wrap: break-word;       /* Internet Explorer 5.5+ */
}


/********************
    Back Button 
********************/
.back_div {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    padding-left: 15px;
    padding-bottom: 10px;
}

.outer_circle {
    background-color: transparent;

    padding: 0;
    margin: 0;
    border: 0;

    border: 3px solid black;
    height: 60px;
    width: 60px;
    border-radius: 50%;
}

.back_arrow {  
    color: inherit;
    font-size: 80px;
    margin-top: -37px;
    margin-left: 12px;
}

.outer_circle:hover, .outer_circle:focus {
    background-color: transparent;
    border: 3px solid var(--hover);
    cursor: pointer;
    color: var(--hover);

}

