.blog_post {
    background-color: #a09a9a10;
    padding: 20px;
    border-radius: 5px; 
}

.blog_title {
    font-family: "Roboto","Trebuchet MS","Tahoma","Verdana","Arial","sans-serif";
    font-weight: 400;
    padding-bottom: 30px;
    text-align: center;
}

.blog_content {
    font-family: "Roboto","Arial","sans-serif";
    font-size: 16px;
    line-height: 1.5;
    margin: 0 0 20px;
}

.pretext {
    white-space: pre-wrap;       /* Since CSS 2.1 */
    white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
    white-space: -pre-wrap;      /* Opera 4-6 */
    white-space: -o-pre-wrap;    /* Opera 7 */
    word-wrap: break-word;       /* Internet Explorer 5.5+ */
}

.blog_footer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.blog_image {
    width: 30%;
    max-width: 100%;
    height: auto;
}